table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 2px solid black;
  text-align: center;
}

#notes {
  border:2px solid purple;
  clear:both;
  text-align:center;
}

.enemie {
  background-color: red;
}

.enemieText {
  color: #fff !important;
}


.defender {
  background-color: black;
}

.thumbnail {
  border: 2px solid #0f0;
}
